<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h3 class="d-none d-sm-block">About</h3>
        <div class="logo">
          <img src="/assets/images/logo.svg" title="Logo - Lucie Strnadova" alt="logo"/>
          <p></p>
          <p class="small">Copyright © 2017 Lucie Strnadova. </p>
        </div>
      </div>
      <!--<div class="col-sm-4 news">-->
        <!--<h3>Latest News</h3>-->
        <!--<ul>-->
          <!--<li *ngFor="let item of news | orderBy: '-date'"><a scrollTo href="#news" title="{{item.title}}">{{item.title}}</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="col-sm-5 contact">
        <h3>Contact</h3>
        <p class="small">
          37 Wilton Court<br/>
          Wilton Road<br/>
          London N10 1LU
        </p>
        <p class="small">
        Email: hello@luciestrnadova.golf
        </p>


      </div>

    </div>
    <div class="row">
      <div class="col-sm-12 social">
        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
          <div class="sc_socials_item">
            <a href="https://www.twitter.com/LucyGolfer" target="_blank" class="social_icons social_twitter">
              <span class="icon-twitter"></span>
            </a>
          </div>
          <div class="sc_socials_item">
            <a href="https://www.instagram.com/lucygolfer/" target="_blank" class="social_icons social_instagramm">
              <span class="icon-instagramm"></span>
            </a>
          </div>
          <div class="sc_socials_item">
            <a href="https://www.youtube.com/channel/UCa69vfwxTqfRwWUj1hfOWBQ" target="_blank"
               class="social_icons social_youtube">
              <span class="icon-youtube"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
