<div class="page bg2">
  <div class="container">
    <app-title title="About me" description="Who I am?" icon="vectorsmartobject"></app-title>
    <div class="row justify-content-between">
      <div class="col-sm-3">
        <div class="img-wrapper">
          <img src="https://pbs.twimg.com/profile_images/904583599642615808/LmvEZt6Y_400x400.jpg"
               class="img-fluid rounded-circle"/>
        </div>
      </div>
      <div class="col-sm-7 content" >
        <div class="about-me ">
          <p *ngFor="let about of aboutText">{{about}}</p>
        </div>
        <table class="table">
          <tbody>
            <tr *ngFor="let row of aboutFacts">
              <td>{{row.key}}</td>
              <td>{{row.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
