<div class="page bg2">
  <div class="container">
    <app-title title="About me" description="Who I am?" icon="vectorsmartobject"></app-title>
    <div class="row justify-content-between">
      <div class="col-sm-3">
        <div class="img-wrapper">
          <img src="https://pbs.twimg.com/profile_images/904583599642615808/LmvEZt6Y_400x400.jpg"
               class="img-fluid rounded-circle"/>
        </div>
      </div>
      <div class="col-sm-7 content" >
        <div class="about-me ">
          <p>
            Hi, my name is Lucy. I started playing golf when I was 6 and I really fell in love with the game. I try to be on the course every single day. It is sometimes hard, but the results are definitely worth it.
          </p>
          <p>
            My favourite golf players are Klara Spilkova, Michelle Wie, Rory Mcillroy and Matt Kuchar. I hope one day I can be good as they are.
          </p>
        </div>

        <table class="table">
          <tbody>
          <tr>
            <td>Age</td>
            <td>7 years</td>
          </tr>
          <tr>
            <td>Height</td>
            <td>122 cm (48")</td>
          </tr>
          <tr>
            <td>Home Club</td>
            <td>Muswell Hill GC</td>
          </tr>
          <tr>
            <td>Best Sford</td>
            <td>38</td>
          </tr>
          <tr>
            <td>Longest Drive</td>
            <td>129m (141 yards)</td>
          </tr>
          <tr>
            <td>Longest putt</td>
            <td>32m (104 feet 11⅞ inches)</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
