<div class="row">
  <div class="col">
    <h2 class="mt-5 mb-2 text-center">{{title}}</h2>
    <p class="title">{{description}}</p>
    <div class="sc_section"><div class="sc_section_inner"><div class="sc_section_content_wrap"><div class="sc_iconseparator "><div class="sc_iconseparator_item"><span class="sc_iconseparator_holder sc_iconseparator_holder_left"><span class="sc_iconseparator_line"></span></span><div class="sc_iconseparator_element_outer"><div class="sc_iconseparator_element_iner"><span class="icon-{{icon}}" style="font-weight:100;font-size:3.3em; line-height: em;color:#666769;"></span></div></div><span class="sc_iconseparator_holder sc_iconseparator_holder_right"><span class="sc_iconseparator_line"></span></span></div></div></div></div></div>
  </div>
</div>
