<div class="page bg">
  <div class="container">
    <app-title title="My Bag" description="what you can find in my bag" icon="vectorsmartobject"></app-title>

    <div class="row content">
      <div class="col-sm-6">
        <p>
          When I started playing, I had just a couple of clubs, that was everything I needed. Later when I improved my game, it was a time to decide which clubs are the right ones for me. We tried a couple of different brands but we stayed with US Kids Clubs.

        </p>
        <p>
          At the moment, I play with 10 clubs and all of them are US Kids
        </p>
        <p class="text-center">
          <img src="/assets/images/uskids.jpg" style="width: 250px; margin-top: 20px"/>
        </p>
      </div>
      <div class="col-sm-6">
        <table class="table table-sm">
          <thead>
          <tr>
            <th>Club</th>
            <th>Loft</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>US Kids Ultralight DV2 Junior Driver</td>
            <td>20°</td>
          </tr>
          <tr>
            <td>US Kids Junior Ultralight DV2 Fairway</td>
            <td>26°</td>
          </tr>
          <tr>
            <td>US Kids Junior Ultralight DV2 Junior Hybrid</td>
            <td>31°</td>
          </tr>
          <tr>
            <td>UL48 6-Iron</td>
            <td>33°</td>
          </tr>
          <tr>
            <td>UL48 7-Iron</td>
            <td>36°</td>
          </tr>
          <tr>
            <td>UL48 8-Iron</td>
            <td>40°</td>
          </tr>
          <tr>
            <td>UL48 9-Iron</td>
            <td>44°</td>
          </tr>
          <tr>
            <td>UL48 PW</td>
            <td>48°</td>
          </tr>
          <tr>
            <td>UL48 SW</td>
            <td>56°</td>
          </tr>
          <tr>
            <td>UL48 Putter</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
