<div class="page bg">
  <div class="container">
    <app-title title="Gallery" description="I little bit of me" icon="vectorsmartobject3"></app-title>

    <div class="row">
      <!-- SnapWidget -->
      <script src="https://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="https://snapwidget.com/embed/435995" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;" [style.height]="height"></iframe>
    </div>

  </div>
</div>
