@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato');
.ng-tooltip {
  max-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  position: absolute;
  z-index: 1000;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;

  ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;

    li {
      margin-bottom: 5px;
    }
  }
}

.ng-tooltip-show {
  opacity: 1;
}

.ng-tooltip::after {
  content: "";
  position: absolute;
  border-style: solid;
}

.ng-tooltip-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}

.ng-tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}

.ng-tooltip-right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}

/* You can add global styles to this file, and also import other style files */
/**
 * Typography
 */
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.143em;
  font-weight: 700;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #282828;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
}

.text-center {
  text-align: center;
}

* {
  font-family: 'Lato', sans-serif;
}


@import './assets/animate.css';

.animated-delay-1 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.animated-delay-2 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
}
